# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
    *
       'hello'
    -87.8
    -
    /
    +
    6

    * multiple expression
    'hello' string value
    -87.8 float value
    in this - subtraction expression
    / division expression
    + addition expression
    6 integer value

# 2. What is the difference between string and variable?

Variable is a container in which you can store a different type of data or values.For example string int float list tuple etc.

string is a collection of character which enclosed in single quotes ‘ or a double quote ‘’
We can slice the string and access the particular character with the help of there index number.
But we can not change it because string is immutable. ex x='string'

# 3. Describe three different data types.

string- Strings are immutable which means once we declare a string we can't update the already
declared string. Example: Single = 'Welcome' or Multi = "Welcome".

List- A list is a mutable, or changeable, ordered sequence of elements
Each element or value that is inside of a list is called an item.

Tuple- Python tuple is another sequence data type that is similar to a list.
A Python tuple consists of a number of values separated by commas.

# 4. What is an expression made up of? What do all expressions do?

 expressions are not used to control the flow of execution or perform actions 
directly. Statements are primarily responsible for controlling the flow and performing actions in a program. Expressions, on the other hand, are used to compute values or produce resultsthat can be used by statements.

# 5. This assignment statements, like spam = 10. What is the difference between and expression and a statement?

Expression is the combination of value, variable and operators which produce an output. 

There are following type of expression:
1. Arithmetic expression: In which we use use integer, float, complex number as a value are called arithmetic expression. Example : x = 2+3 ; x = 2*3

2. String expression: In which we use use string as a value are called string expression. Example : x = “hello”+”hi” #output hellohi ; x = hi*3 #output hihihi

3. Relational expression: In which we use relational operators with variable or values. For example: 5>2, 6>=7, y<=x etc 

4. Logical expression: In which we use logical operators with variable or values. For example: and, or, not
        
      Statement:
A statement is a complete unit of code that performs an action or an operation. It is like a complete sentence or an instruction in a programming language. Unlike expressions, statements do not necessarily produce a value, although they may have side effects, such as modifying variables or producing output.
Some examples of statements are:

1. Assignment statement: spam = 5 (assigns the value 5 to the variable spam)

2. Conditional statement: if x > 10: print("x is greater than 10") (executes the print statement only if the condition x > 10 is true)

3. Loop statement: for i in range(5): print(i) (executes the print statement five times, with i taking different values in each iteration)

Statements are used to control the flow of execution in a program and perform actions such as assigning values, making decisions, or repeating a set of instructions.

# 6. After running the following code, what does the variable bacon contain?
    bacon = 22
    bacon + 1

In [2]:
bacon = 22
bacon +1
print (bacon)

22

# 7. What should the values of the following two terms be?
    spam + spamspam
    'spam'*3

In [9]:
print("spam"+ "spamspam")
print('spam'*3)

spamspamspam
spamspamspam

# 8. Why is eggs a valid variable name while 100 is invalid?

eggs a valid variable name while 100 is invalid because variable name only start with alphabet or _ underscore only. Anything else will be invalid. You can use 100 as variable name if you use underscore and alphabet before 100 ex: _100; a100

# 9. What three functions can be used to get the integer, floating-point number, or string  version of a value?

The int(), float() or str() are the three function which use to get a integer, float-point number or string version repectively.

In [13]:
#Integer from string (only if it contain a valid integer representation)
s1 ="23"
i = int(s1)
#Floating- point  from string (only if it contain a valid integer representation)
s2 = "23.45"
f = float(s2)
# string from intiger
x = 23
s = str(x)

# 10. Why does this expression cause an error? How can you fix it? I have eaten + 99 + burritos.

Given expression cause an error because it attempts to concatenate a string 'I have eaten ' with an integer 99 using the + operator. + Operator is only use with same data type. for example:

In [11]:
x = 99 + 1
x

100

In [12]:
#To make it correct write 99 as a string 
'I have eaten '+ '99'+ 'burritos.'

'I have eaten 99burritos.'